pkgbase = kickoutchi
	pkgdesc = A clean TUI and CLI port janitor
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/nuggocto/kickoutchi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	conflicts = kickoutchi-bin
	options = !debug
	source = kickoutchi-1.1.1.tar.gz::https://github.com/nuggocto/kickoutchi/releases/download/v1.1.1/source.tar.gz
	sha256sums = 7d6b602dd28c33ab4898fe01fb347b541eb7db6db1d7ed259f20bbf744ddc68f

pkgname = kickoutchi
