pkgbase = kickoutchi
	pkgdesc = A clean TUI and CLI port janitor
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/nuggocto/kickoutchi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	conflicts = kickoutchi-bin
	options = !debug
	source = kickoutchi-0.1.2.tar.gz::https://github.com/nuggocto/kickoutchi/releases/download/v0.1.2/source.tar.gz
	sha256sums = 210a49d78d62dd0754aab17b2db831cf29d12303d0f885210e1f05943620d776

pkgname = kickoutchi
