pkgbase = kickoutchi
	pkgdesc = A clean TUI and CLI port janitor
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/nuggocto/kickoutchi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	conflicts = kickoutchi-bin
	options = !debug
	source = kickoutchi-1.2.0.tar.gz::https://github.com/nuggocto/kickoutchi/releases/download/v1.2.0/source.tar.gz
	sha256sums = b5e9a67aa4eb8b0f66b590bbd9735a5be34efedc5371a2a79693fffffba5702b

pkgname = kickoutchi
